<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <link href="static/css/dashboard.css" rel="stylesheet" />
        <title>E-ndicator</title><link href="static/css/dashboard.css" rel="stylesheet" />
        <title>E-ndicator</title>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        
        
        </script>


        <script type="text/javascript">
            var intervalID = setInterval(update_values,1000);
            
              function update_values() {
                    $.getJSON($SCRIPT_ROOT + '/_stuff',
              
                  function(data) {
                    $('#result').text(data.result);
                    $('#result2').text(data.result2);
                    $('#result3').text(data.result3);
                    $('#result4').text(data.result4);
                    console.log(data)
                  });
                  
                };
               
                
                
                function stopTextColor() {
                  clearInterval(intervalID);
                }
          
          </script>

    </head>
    <body onload="update_values();">





        <div class="container">
            <div class="header">
              <image class="logo" src ="static\images\Logo.png">
            </div>
            <div class="parameters">
              
              <div class="vbox-1">
                <p class="label-1">VOLTAGE:</p>
                <p class="value-1">V</p>
                <p class="value-1" id="result">0</p>
                
              </div>

              <div class="vbox-2">
                <p class="label-2">CURRENT:</p>
                <p class="value-2">A</p>
                <p class="value-2" id="result2">0</p>
                

              </div>

              <div class="vbox-1">
                <p class="label-1">STATE OF HEALTH:</p>
                <p class="value-1">%</p>
                <p class="value-1" id="result3">0</p>
                
              </div>

              <div class="vbox-2">
                <p class="label-2">STATE OF CHARGE:</p>
                <p class="value-2">%</p>
                <p class="value-2" id="result4">0</p>
                
              </div>

              <div class="vbox-1">
                <p class="label-1">INTERNAL RESISTANCE:</p>
                <p class="value-1">Ω</p>
                
              </div>

              <div class="vbox-2">
                <p class="label-2">BATTERY CAPACITY:</p>
                <p class="value-2">Ah</p>
                
              </div>

              <div class="vbox-1">
                <p class="label-1">DEPTH OF DISCHARGE:</p>
                <p class="value-1">%</p>
                
              </div>


              <div class="vbox-2">
                <p class="label-2">BRAND:</p>
                
              </div>

              <div class="vbox-1">
                <p class="label-1">MAX LOAD:</p>
                <p class="value-1">W</p>
                
              </div>

              <div class="vbox-2">
                <p class="label-2">NO LOAD VOLTAGE:</p>
                <p class="value-2">V</p>
                
              </div>

              <div class="vbox-1">
                <p class="label-1">NUMBER OF CYCLE:</p>
                <p class="value-1"></p>
              </div>
            
            </div>

            <div class="navigation">
              
              <image class="home-icon" src ="static\images\home_icon.svg"></image>
              <image class="dashboard-icon" src ="static\images\chart_icon.svg"> 
              <image class="chart-icon" src ="static\images\chart_icon.svg">
              
            </div>
        </div>

        <script>
            document.getElementById("result").innerHTML;
            document.getElementById("result2").innerHTML;
            document.getElementById("result3").innerHTML;
            document.getElementById("result4").innerHTML;
        </script>

    </body>
</html>