* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background: #A8E393;
}
.container {
  margin-top: 5%;
  width: 360px;
  height: 75vh;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_88 {
  position: absolute;
  width: 621px;
  height: 1055px;
  left: -124px;
  top: -173px;
  
  background: #A8E393;
}
.v1_89 {
  position: absolute;
  width: 469px;
  height: 288px;
  left: -48px;
  top: 515px;
  border-radius: 50%;
  background: #669C53;
}
.v1_90 {
  position: absolute;
  width: 63px;
  height: 58px;
  left: 155px;
  top: 542px;
}
.v1_91 {
  width: 63px;
  height: 58px;
  background: url("../images/v1_91.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_92 {
  width: 52px;
  height: 41px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 6px;
}
.v1_93 {
  width: 50px;
  height: 42px;
  background: rgba(8,63,33,1);
  opacity: 1;
  position: absolute;
  top: 569px;
  left: 50px;
  overflow: hidden;
}
.v1_94 {
  width: 50px;
  height: 42px;
  background: url("../images/v1_94.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_95 {
  width: 37px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 7px;
}
.v1_96 {
  width: 52px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 566px;
  left: 87px;
  overflow: hidden;
}
.v1_97 {
  position: absolute;
  width: 52px;
  height: 45px;
  left: 273px;
  top: 566px;
}
.v1_98 {
  width: 39px;
  height: 33px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 6px;
}
.v1_99 {
  width: 41px;
  height: 43px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 44px;
  overflow: hidden;
}
.v1_100 {
  width: 41px;
  height: 43px;
  background: url("../images/v1_100.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v1_101 {
  width: 29px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 6px;
}
.v1_102 {
  width: 45px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  overflow: hidden;
}
.v1_103 {
  width: 45px;
  height: 46px;
  background: url("../images/v1_103.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_104 {
  width: 45px;
  height: 46px;
  background: url("../images/v1_104.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v1_105 {
  width: 33px;
  height: 34px;
  background: url("../images/v1_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
  overflow: hidden;
}
.v1_106 {
  width: 33px;
  height: 34px;
  background: url("../images/v1_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_107 {
  width: 28px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v1_108 {
  width: 14px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 18px;
}
.v1_109 {
  width: 89px;
  height: 90px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 141px;
  border-radius: 50%;
}
.v1_110 {
  width: 271px;
  height: 73px;
  background: rgba(8,63,33,1);
  opacity: 1;
  position: absolute;
  top: 149px;
  left: 45px;
  overflow: hidden;
}
.v1_111 {
  width: 271px;
  height: 73px;
  background: rgba(8,63,33,1);
  opacity: 1;
  position: absolute;
  top: 235px;
  left: 45px;
  overflow: hidden;
}
.v1_112 {
  width: 271px;
  height: 73px;
  background: rgba(255,252,252,1);
  opacity: 1;
  position: absolute;
  top: 321px;
  left: 45px;
  overflow: hidden;
}
.v1_113 {
  width: 271px;
  height: 73px;
  background: rgba(255,252,252,1);
  opacity: 1;
  position: absolute;
  top: 407px;
  left: 45px;
  overflow: hidden;
}
.v1_114 {
  width: 180px;
  color: rgba(255,253,253,1);
  position: absolute;
  top: 172px;
  left: 61px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_115 {
  position: absolute;
  width: 180px;
  height: 50px;
  left: 61px;
  top: 257px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  
  color: #FFFFFF;
}
.v1_116 {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 337px;
  left: 61px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_117 {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 423px;
  left: 61px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}


.voltage_val {
  position: absolute;
  width: 58px;
  height: 25px;
  left: 165px;
  top: 172px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  
  color: #FFFFFF;
}

.voltage_symbol {
  position: absolute;
width: 31px;
height: 25px;
left: 252px;
top: 169px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}


.current_val {
  position: absolute;
width: 58px;
height: 25px;
left: 165px;
top: 257px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}

.current_symbol
{
  
position: absolute;
width: 31px;
height: 25px;
left: 252px;
top: 249px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

}


.soh_val {
  position: absolute;
width: 58px;
height: 25px;
left: 152px;
top: 345px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #000000;
}

.soh_symbol
{

position: absolute;
width: 31px;
height: 25px;
left: 252px;
top: 345px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #000000;

}

.soc_val{
position: absolute;
width: 58px;
height: 25px;
left: 152px;
top: 426px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #000000;
}


.soc_symbol{
  position: absolute;
  width: 31px;
  height: 25px;
  left: 252px;
  top: 426px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  
  color: #000000;
  }
